@model CarListView

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>

}

<div class="container mt-4 mb-5">
    <h2 class="text-uppercase">Wszystkie <span class="text-primary">auta</span></h2>
    <div class="my-hr my-page-intro-rule"></div>
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary ">Dodaj nowe auto</a>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Marka i Model</th>
            <th>Rok produkcji</th>
            <th>Kategoria cenowa</th>
            <th>Skrzynia biegów</th>
            <th>Rodzaj paliwa</th>
            <th class="text-center">Akcje</th>
        </tr>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td><a asp-action="Car" asp-route-carId="@item.Car_ID">@item.Mark @item.Model</a></td>
                <td>@item.Year</td>
                <td>@item.Grade.GradeType</td>
                <td>@item.GearboxType</td>
                <td>@item.Fuel</td>
                <td class="text-center">
                    <a asp-action="Edit" class="btn btn-sm btn-warning mt-2 mb-2"
                       asp-route-carID="@item.Car_ID">EDYTUJ</a>
                </td>
            </tr>

        }
    </table>
    <div class="row">
        <div page-model="@Model.PagingInfo" page-action="CarsListAdmin" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-primary"
             page-class-selected="btn-secondary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1">
        </div>
    </div>
</div>