@model CarListView


<div class="my-cars-list-page">
    <div class="container">
        <div class="text-center mx-auto my-cars-list-intro">
            <h2 class="text-uppercase my-page-intro-header">
                Lista dostępnych
                <span class="text-primary">samochodów</span>
            </h2>
            <div class="my-hr my-page-intro-rule"></div>
        </div>
    </div>

    <div class="my-car-search my-alternate-bg">
        <div class="container">
            <div class="row input-group">
                <div class="col-12">
                    <h4>Wybierz kategorie cenową</h4>
                </div>
                <div class="col-12">
                    @await Component.InvokeAsync("NavigationGrade")

                </div>
            </div>
        </div>
    </div>
    <!--Cars list-->
    <div class="container">
        <div class="row my-cars">
            @foreach (var c in Model.Cars)
            {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="my-product-item my-product-item-img">
                    <a asp-controller="Car" asp-action="Car" asp-route-carId="@c.Car_ID">
                        <img class="img-fluid my-car-img" src="~/uploads/@c.Car_ID/@c.Img" />
                    </a>
                    <a class="my-car-item-link" asp-controller="Car" asp-action="Car" asp-route-carId="@c.Car_ID">
                        <h4 class="text-uppercase my-car-name">@c.Mark @c.Model</h4>
                    </a>
                    <p class="my-text-small my-car-item-desc">
                        Skrzynia biegów: <span class="text-primary">@c.GearboxType</span>
                        Paliwo: <span class="text-primary">@c.Fuel</span>
                        Rok: <span class="text-primary">@c.Year</span>
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="my-car-price">@c.Grade.PricePerDay zł/dzień</span>
                        <span>
                            <i class="fa fa-plus text-success mr-1"> 68 </i>
                            <i class="fa fa-minus text-danger ml-1"> 7 </i>
                        </span>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div page-model="@Model.PagingInfo" page-action="CarsList" page-classes-enabled="true"
                 page-class="btn" page-class-normal="btn-primary"
                 page-class-selected="btn-secondary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1">
            </div>
        </div>
    </div>
</div>

